@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$white: #ffffff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_tab_800: 800px;
$r_tab_900: 900px;
$r_desk: 1000px; /*1024px*/
$r_desk_1120: 1120px; 
$r_desk_hd: 1200px; 
$r_desk_1280: 1280px;	
$r_desk_wxga: 1340px; /*1366px*/
$r_desk_wxga_xxl: 1360px; /*1366px*/
$r_desk_1458: 1458px;
$r_desk_full: 1600px;
$r_desk_full_over: 1680px;
$r_desk_fhd: 1860px; /*1920px*/
$r_desk_2k: 2480px; /*2560px*/
$r_desk_4k: 3760px; /*3840px*/

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: $font-jost;
	color: $green;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	max-width: 1440px;
	margin: 0px auto 4.8rem;
	padding: 4rem 15px 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5%;
	@media (max-width: $r_desk_1280) {
			gap: 3%;
		}
	@media (max-width: $r_tab_900) {
		padding: 1.5rem 15px 0 15px;
	}
	@media (max-width: $r_mob_360) {
		margin: 0px auto;
	}
	&__navigation {
		flex-grow: 1;
		margin-left: 4.5rem;
		@media (max-width: $r_desk_1280) {
			margin-left: 7rem;
		}
		@media (max-width: $r_desk_hd) {
			flex-grow: 0;
			margin-left: 0px;
		}
		@media (max-width: $r_tab_900) {
			display: none;
		}
	}
	&__nav {
		display: flex;
		list-style-type: none;
		margin: 0px;
		padding-left: 0px;
		gap: 4.8rem;
		@media (max-width: $r_desk_wxga) {
			gap: 4rem;
		}
		@media (max-width: $r_desk_hd) {
			gap: 2.5rem;
		}
	}
	&__link {
		color: $green;
		text-decoration: none;
		transition: 0.3s;
		&:hover {
			color: $orange;
		}
	}
	&__tel {
		color: $green;
		font-weight: 500;
		letter-spacing: 0.15rem;
		text-decoration: none;
		flex-basis: 200px;
		text-align: right;
		transition: 0.3s;
		&:hover {
			color: $orange;
		}
		@media (max-width: $r_desk_hd) {
			display: none;
		}
	}
	&__cart {
		display: block;
		width: 4rem;
		height: 4rem;
		border-radius: 100%;
		background-color: $orange;
		background-image: url(../images/cart.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 1.7rem 1.5rem;
		position: relative;
		border: 1px solid $orange;
		padding: 0px;
		transition: 0.3s;
		cursor: pointer;
		@media (max-width: $r_desk_hd) {
			background-color: $white;
			background-image: url(../images/cart-mobi.svg);
			border: 1px solid $green;
			opacity: 0.8;
		}
		@media (max-width: $r_tab_900){
			width: 3.6rem;
			height: 3.6rem;
		}
		&:hover {
			background-color: $green;
			border: 1px solid $green;
			@media (max-width: $r_desk_hd) {
				background-color: $white;
				opacity: 1;
			}
		}
	}
	&__counter {
		font-size: .8rem;
		color: $white;
		position: absolute;
		right: .7rem;
		top: .4rem;
		@media (max-width: $r_desk_hd) {
			color: $green;
		}
		@media (max-width: $r_mob_360) {
			right: 0.5rem;
    		top: 0.5rem;
		}
	}
	&__phone, &__menu {
		display: none;
	}
	&__phone {
		@media (max-width: $r_desk_hd) {
			display: block;
			width: 4rem;
			height: 4rem;
			border-radius: 100%;
			background-color: $white;
			background-image: url(../images/tel.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 1.7rem 1.5rem;
			position: relative;
			border: 1px solid $green;
			padding: 0px;
			opacity: 0.8;
			transition: 0.3s;
		}
		&:hover {
			opacity: 1;
		}
		@media (max-width: $r_tab_900){
			width: 3.4rem;
			height: 3.4rem;
		}
	}
	&__menu {
		@media (max-width: $r_tab_900) {
			display: block;
			width: 3.6rem;
			height: 3.6rem;
			border-radius: 100%;
			background-color: $white;
			background-image: url(../images/menu.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 1.7rem 1.5rem;
			position: relative;
			border: 1px solid $green;
			padding: 0px;
			opacity: 0.8;
			transition: 0.3s;
			cursor: pointer;
		}
		&:hover {
			opacity: 1;
		}
	}
	&__buttons {
		@media (max-width: $r_desk_hd) {
			display: flex;
			align-items: center;
			gap: 1.5rem;
		}
		@media (max-width: $r_tab_900) {
			gap: 1.2rem;
		}
	}
}

.logo {
	display: block;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	flex-basis: 12rem;
	height: 3.2rem;
	transition: 0.3s;
	@media (max-width: $r_mob_360) {
		flex-basis: 9.5rem;
		height: 2.5rem;
	}
}

.logo:hover {
	transform: scale(1.1);
	@media (max-width: $r_tab_900) {
		transform: scale(1);
	}
}

.container {
	max-width: 1440px;
	margin: 0px auto;
	padding-left: 15px;
	padding-right: 15px;
	@media (max-width: $r_tab) {
		max-width: 100%;
	}
}

.main {
	position: relative;
	padding-bottom: 187px;
	z-index: 0;
	overflow-x: hidden;
	@media (max-width: $r_tab_900) {
		padding-bottom: 12rem;
	}
	@media (max-width: $r_tab) {
		padding-bottom: 2rem;
	}
	@media (max-width: $r_mob_360) {
		padding-bottom: 0rem;
	}
	&__item {
		margin-left: 12rem;
		max-width: 378px;
		margin-top: 6rem;
		@media (max-width: $r_desk_1280) {
			margin-left: 8rem;
		}
		@media (max-width: $r_tab) {
			max-width: 100%;
			margin-left: 0px;
			margin-top: 3rem;
		}
		@media (max-width: $r_mob_360) {
			margin-top: 2rem;
		}
	}
	&__link {
		margin-top: 5.2rem;
		@media (max-width: $r_tab) {
			text-align: center;
			margin-top: 3rem;
		}
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		@media (max-width: $r_desk_1280) {
			justify-content: start;
		}
		@media (max-width: $r_desk_1120) {
			justify-content: space-between;
			padding-top: 3rem;
			padding-bottom: 9rem;
		}
		@media (max-width: $r_mob_500) {
			padding-bottom: 6rem;
		}
		@media (max-width: $r_mob_360) {
			padding-top: 3.4rem;
			padding-bottom: 3.8rem;
		}
	}
	&__cover {
		flex-basis: 758px;
		height: 758px;
		border: 1px solid rgba($green, 0.4);
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		@media (max-width: $r_desk_wxga) {
			flex-basis: 650px;
			height: 650px;
		}
		@media (max-width: $r_desk_hd) {
			flex-basis: 600px;
			height: 600px;
		}
		@media (max-width: $r_desk_1120) {
			border: 1px solid transparent;
			height: auto;
			flex-basis: calc(100% - 395px);
		}
		@media (max-width: $r_tab) {
			display: none;
		}
	}
	&__line{
		width: 656px;
		height: 656px;
		border: 1px solid rgba($green, 0.4);
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media (max-width: $r_desk_wxga) {
			width: 600px;
			height: 600px;
		}
		@media (max-width: $r_desk_hd) {
			border: 1px solid transparent;
			width: auto;
			height: auto;
		}
	}
	&__image {
		width: 93%;
		border-radius: 100%;
		-webkit-animation: shadow 4s infinite;
		        animation: shadow 4s infinite;
		@media (max-width: $r_desk_1120) {
			width: 85%;
		}
	}
	&__imagemobi {
		display: none;
		@media (max-width: $r_tab) {
			display: block;
			border-radius: 100%;
			max-width: 300px;
			margin: 0 auto;
			margin-top: 2.7rem;
			-webkit-animation: shadow 4s infinite;
		        animation: shadow 4s infinite;
		}
		@media (max-width: $r_mob_360) {
			max-width: 225px;
			margin-top: 2rem;
		}
	}
	&__text {
		padding-top: 3.5rem;
		line-height: 1;
		@media (max-width: $r_desk_1120) {
			flex-basis: 395px;
		}
		@media (max-width: $r_tab) {
			flex-basis: 100%;
			padding-top: 3.5rem;
		}
		@media (max-width: $r_mob_360) {
			padding-top: 0.3rem;
		}
	}
	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
		position: absolute;
		color: $green;
		text-align: left;
		@media (max-width: $r_desk_1120) {
			display: none;
		}
		&:hover {
			&::before {
				background-color: $orange;
				box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
			}
		}
		&::before {
			content: '';
			background-color: $green;
			width: 11px;
			height: 11px;
			box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
			border-radius: 100%;
			position: absolute;
			transition: 0.3s;
		}
		&_1 {
			top: 5.8%;
    		left: 8.2%;
			@media (max-width: $r_desk_wxga) {
				top: 4%;
			}
			@media (max-width: $r_desk_hd) {
				top: 3.2%;
			}
			&::before {
				bottom: 21%;
    			right: -59%;
			}
		}
		&_2 {
			top: 25.5%;
    		right: 0.3%;
			@media (max-width: $r_desk_wxga) {
				top: 17%;
			}
			@media (max-width: $r_desk_hd) {
				right: -6%;
			}
			&::before {
				top: 39.5%;
    			left: -34%;
			}
		}
		&_3 {
			bottom: -6.4%;
    		right: 32.1%;
			@media (max-width: $r_desk_wxga) {
				bottom: -7.8%;
			}
			@media (max-width: $r_desk_hd) {
				bottom: -8.8%;
			}
			&::before {
				top: -57%;
    			left: 26%;
			}
		}
	}
	&__food {
		display: block;
		color: rgba($green, 0.8);
		margin-bottom: 0.5rem;
		z-index: -1;
	}
	&__tomato {
		position: absolute;
		bottom: 10.9%;
    	right: 5.9%;
		width: 11rem;
		z-index: -1;
		@media (max-width: $r_desk_full) {
			right: 3%;
		}
		@media (max-width: $r_tab) {
			top: 9.5%;
			left: -5.1%;
			transform: rotate(60deg);
		}
		@media (max-width: $r_mob_500) {
			width: 6rem;
		}
		@media (max-width: $r_mob_360) {
			top: 10.5%;
			width: 5.5rem;
		}
	}
	&__peas_one {
		position: absolute;
		left: 0.4%;
		bottom: 22.2%;
		width: 4.7rem;
		z-index: -1;
		@media (max-width: $r_tab) {
			display: none;
		}
	}
	&__peas_two {
		position: absolute;
		left: -0.5%;
		bottom: 19%;
		width: 3.6rem;
		z-index: -1;
		@media (max-width: $r_tab) {
			display: none;
		}
	}
	&__peas_three {
		position: absolute;
		left: 1.5%;
		bottom: 15.1%;
		width: 6.6rem;
		z-index: -1;
		@media (max-width: $r_tab) {
			display: none;
		}
	}
	&__pepper {
		position: absolute;
		left: 1.5%;
		top: 37%;
		width: 8.6rem;
		z-index: -1;
		@media (max-width: $r_desk_full_over) {
			top: 47%;
		}
		@media (max-width: $r_desk_1120) {
			top: 41%;
		}
		@media (max-width: $r_tab_900) {
			top: 37%;
		}
		@media (max-width: $r_tab) {
			width: 6rem;
			top: 40%;
		}
		@media (max-width: $r_mob_500) {
			top: 45%;
		}
		@media (max-width: $r_mob_360) {
			left: 0%;
			top: 39%;
			width: 3rem;
		}
	}
	&__cucumber {
		position: absolute;
		left: 35.8%;
		top: 0%;
		width: 8.5rem;
		z-index: -1;
		@media (max-width: $r_tab) {
			left: inherit;
    		top: inherit;
			right: -2.9%;
			bottom: 27%;
			transform: rotate(90deg);
		}
		@media (max-width: $r_mob_600) {
			right: -3.8%;
		}
		@media (max-width: $r_mob_500) {
			right: -4.6%;
			width: 6.5rem;
		}
		@media (max-width: $r_mob_400) {
			right: -5%;
			bottom: 21%;
		}
		@media (max-width: $r_mob_360) {
			right: -3.6%;
			width: 4.5rem;
		}
	}
	&__avocado {
		position: absolute;
		right: 0%;
		top: 5%;
		width: 17.5rem;
		z-index: -1;
		@media (max-width: $r_desk_full_over) {
			top: 12%;
			right: 3%;
			width: 9.8rem;
		}
		@media (max-width: $r_tab) {
			right: 0%;
		}
		@media (max-width: $r_mob_500) {
			width: 7.8rem;
			right: -8%;
			top: 10%;
		}
		@media (max-width: $r_mob_360) {
			width: 6.8rem;
			right: -9%;
			top: 12.6%;
		}
	}
}

.title {
	font-family: $font-cormorant;
	font-weight: 700;
	font-size: 8rem;
	margin: 0;
	line-height: 1;
	@media (max-width: $r_desk_1280) {
		font-size: 7rem;
	}
	@media (max-width: $r_desk_1120) {
		font-size: 6rem;
	}
	@media (max-width: $r_tab_900) {
		font-size: 5.5rem;
	}
	@media (max-width: $r_tab) {
		text-align: center;
	}
	@media (max-width: $r_mob_400) {
		font-size: 4rem;
	}
	@media (max-width: $r_mob_360) {
		font-size: 3rem;
	}
	&__span {
		font-style: italic;
		&_sign::after {
			content: "!";
    		font-style: normal;
		}
	}
	&_block {
		.title__span {
			display: block;
		}
	}
	&_s {
		letter-spacing: 0.1rem;
	}
}

.description {
	margin: 0;
	line-height: 1.5;
	@media (max-width: $r_tab) {
		text-align: center;
	}
	@media (max-width: $r_mob_360) {
		max-width: 247px;
    	margin: 0 auto;
	}	
	&_size-s {
		font-size: 1.8rem;
		@media (max-width: $r_desk_1280) {
			font-size: 1.6rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1.2rem;
		}
	}
	&_size-m {
		font-size: 2.4rem;
		@media (max-width: $r_desk_1280) {
			font-size: 2.2rem;
		}
		@media (max-width: $r_tab) {
			font-size: 1.6rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.4rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1.2rem;
		}
	}
	&__trends_size-s {
		max-width: 29rem;
		min-height: 5.5rem;
		font-size: 1.8rem;
		color: rgba($green, 0.7);
		margin: 2rem 0rem 0rem;
    	line-height: 1.5;
		@media (max-width: $r_desk_1280) {
			font-size: 1.4rem;
		}
		@media (max-width: $r_mob_400) {
			min-height: 5rem;
			font-size: 1.2rem;
			margin: 1.5rem 0rem 0rem;
		}		
	}
	&__trends_size-l {
		max-width: 24.5rem;
		min-height: 5.5rem;
		font-size: 1.6rem;
		color: rgba($green, 0.7);
		margin: 2rem 0rem 0rem;
    	line-height: 1.5;
		@media (max-width: $r_tab) {
			font-size: 1.2rem;
		}
		@media (max-width: $r_mob_400) {
			min-height: 5rem;
			font-size: 1rem;
			margin: 0.5rem 0rem 0rem;
		}
	}
}

.link {
	color: $white;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 0.13rem;
	padding: 2.5rem 4.2rem;
	background-color: $orange;
	box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
	text-decoration: none;
	border: none;
	border-radius: 3.8rem;
	display: inline-block;
	transition: 0.3s;
	@media (max-width: $r_desk_1280) {
		font-size: 1.2rem;
	}
	@media (max-width: $r_desk_1120) {
		box-shadow: 0px 0.5rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
	}
	@media (max-width: $r_desk) {
		padding: 2rem 3.5rem;
	}
	@media (max-width: $r_mob_360) {
		padding: 1.6rem 2.2rem;
	}
    &__trends__size_s {
    	flex-basis: 11rem;
    	text-align: center;
    	padding-top: 2.2rem;
		@media (max-width: $r_desk_full) {
			flex-basis: 10rem;
		}
		@media (max-width: $r_desk_1280) {
			padding: 1.5rem 1.2rem;
		}
		@media (max-width: $r_desk_1120) {
			padding: 1.5rem 0rem;
			flex-basis: 12rem;
		}
		@media (max-width: $r_tab_900) {
			flex-basis: 15rem;
		}
		@media (max-width: $r_tab) {
			padding: 1.6rem 3rem;
		}
		&_mob {
			@media (max-width: $r_mob_400) {
				font-size: 1rem;
				padding: 1.5rem 1.3rem;
			}
		}
    }
	&_min {
		font-size: 1.4rem;
		padding: 2.2rem 3.5rem;
		box-shadow: 0px 1rem 1.1rem 0.17rem rgb(207 92 13 / 15%);
		@media (max-width: $r_desk_1458) {
			padding: 2.2rem 5.5rem;
		}
		@media (max-width: $r_desk_1280) {
			padding: 1.5rem 4rem;
		}
		@media (max-width: $r_desk_hd) {
			padding: 1.5rem 3rem;
		} 
		@media (max-width: $r_desk_1120) {
			padding: 1.5rem 2.5rem;
		}
		@media (max-width: $r_tab) {
			width: 100%;
    		text-align: center;
		}
		@media (max-width: $r_mob_500) {
			font-size: 1rem;
			padding: 1.5rem 3rem;
			box-shadow: 0px 0.5rem 1.1rem 0.17rem rgb(207 92 13 / 15%);
		}
		@media (max-width: $r_mob_360) {
			padding: 1.5rem 0rem;
		}
	}
	&__delivery {
		position: relative;
		color: $green;
		text-decoration: none;
		transition: 0.3s;
		&::after {
			position: absolute;
			display: block;
			content: '';
			width: 100%;
			height: 1px;
			background-color: #858881;
			left: 0px;
			bottom: 3px;
			transition: 0.3s;
		}
		&:hover {
			color: $dark-orange;
		}
		&:hover {
			&:after {
				background-color: $dark-orange;
			}
		}
	}
	&:hover {
		background-color: $dark-orange;
	}
}

.offer {
	padding-top: 2rem;
	padding-bottom: 12.8rem;
	@media (max-width: $r_desk) {
		padding-bottom: 9rem;
	}
	@media (max-width: $r_tab) {
		padding-bottom: 4rem;
	}
	@media (max-width: $r_mob_360) {
		padding-bottom: 2rem;
	}
	&__text {
		margin-top: 6rem;
		max-width: 700px;
		@media (max-width: $r_mob_360) {
			margin-top: 3rem;
		}
	}
}

.slider {
	overflow: hidden;
	padding: 95px 4px 0px 4px;
	@media (max-width: $r_tab) {
		max-width: 350px;
		margin: 0 auto;
		padding-top: 5.4rem;
		padding-bottom: 6rem;
	}
	@media (max-width: $r_mob_400) {
		max-width: 210px;
	}
	@media (max-width: $r_mob_360) {
		padding-top: 3.9rem;
	}
	&__trends {
		padding-top: 8.2rem;
		@media (max-width: $r_mob_360) {
			padding-top: 4rem;
		}
	}
}

.swiper {
	overflow: initial;
	&-slide {
		border: 1px solid rgba($green, 0.4);
		border-radius: 2rem;
		padding: 3rem 3.7rem 3.8rem;
		box-sizing: border-box;
	    height: 520px;
	    background-repeat: no-repeat;
	    background-size: cover;
	    position: relative;
	    z-index: 0;
		transition: 0.3s;
		@media (max-width: $r_desk_hd) {
			height: 400px;
		}
		@media (max-width: $r_tab) {
			text-align: center;
		}
		@media (max-width: $r_mob_500) {
			height: 340px;
			padding: 2rem 2.7rem 2.8rem;
		}
		@media (max-width: $r_mob_400) {
			height: 240px;
			padding: 2rem 2.7rem 1.8rem;
		}
	    &_white {
			display: flex;
			flex-direction: column;
	    	justify-content: flex-end;
			background-size: contain;
			padding: 4rem 3.7rem;
			&::after {
			    	content: '';
			    	background-color: rgba($white, 0);
			    	width: calc(100% - 4px);
			    	height: calc(100% - 4px);
			    	position: absolute;
			    	top: 2px;
			    	left: 2px;
			    	border-radius: 1.5rem;
					transition: 0.3s;
			    	z-index: -1;
			    }
			@media (max-width: $r_desk_hd) {
				padding: 3rem 3.7rem;
			}
			@media (max-width: $r_tab) {
				text-align: center;
			}
			@media (max-width: $r_mob_400) {
				padding: 1.9rem 3.7rem;
			}
	    	&:hover {
	    		.swiper-slide__hover {
					height: 230px;
					opacity: 1;
					@media (max-width: $r_tab) {
						height: auto;
					}
				}
				&::after {
			    	background-color: rgba($white, .55);
			    }
	    	}
	    }
	    &_cover {
	    	height: 685px;
			@media (max-width: $r_desk_1280) {
				height: 420px;
			}
			@media (max-width: $r_mob_500) {
				height: 360px;
			}
			@media (max-width: $r_mob_500) {
				height: 301px;
			}
	    }
		&:hover {
			box-shadow: 0 0 0 2px #a9ac9f inset;
		}
		&_milk {
			background-image: url(../images/milk.png);
			@media (max-width: $r_tab) {
				background-image: url(../images/catalog/milk.jpg);
				background-size: 80%;
				background-position: top center;
			}
			@media (max-width: $r_mob_500) {
				background-size: 60%;
			}
			@media (max-width: $r_mob_400) {
				background-size: 61%;
				background-position: top 6px center;
			}
		}
		&_pasta {
			background-image: url(../images/pasta.png);
			@media (max-width: $r_tab) {
				background-size: 80%;
				background-position: top center;
			}
			@media (max-width: $r_mob_500) {
				background-size: 60%;
				background-position: top center;
			}
			@media (max-width: $r_mob_400) {
				background-size: 67%;
			}
		}
		&_steaks {
			background-image: url(../images/steaks.png);
			@media (max-width: $r_tab) {
				background-image: url(../images/catalog/chicken.jpg);
				background-size: 80%;
				background-position: top 25% center;
			}
			@media (max-width: $r_mob_500) {
				background-size: 70%;
    			background-position: top 20% center;
			}
			@media (max-width: $r_mob_400) {
    			background-position: top 15% center;
			}
		}
		&__title {
			font-size: 3rem;
			font-family: $font-cormorant;
			margin-bottom: 0;
			@media (max-width: $r_desk_1280) {
				font-size: 2.5rem;
			}
			@media (max-width: $r_desk_1120) {
				font-size: 2rem;
			}
			@media (max-width: $r_tab) {
				margin-top: 0px;
				margin-bottom: 15px;
			}
			@media (max-width: $r_mob_400) {
				font-size: 1.4rem;
				margin-bottom: 10px;
			}
			&_cover {
				margin-top: 4rem;
				@media (max-width: $r_desk_1280) {
					margin-top: 2rem;
				}
				@media (max-width: $r_mob_500) {
					font-size: 1.8rem;
				}
				@media (max-width: $r_mob_400) {
					font-size: 1.4rem;
					margin-top: 1.8rem;
				}
			}
		}
		&__hover {
			height: 0px;
			opacity: 0;
			transition: 0.3s;
			@media (max-width: $r_tab) {
				height: auto;
				opacity: 1;
			}
		}
		&__text {
			max-width: 265px;
			line-height: 1.5;
			margin-top: 2.4rem;
			margin-bottom: 3.2rem;
			color: rgba($green, 0.7);
			@media (max-width: $r_desk_1120) {
				margin-top: 1.4rem;
				margin-bottom: 2.2rem;
			}
			@media (max-width: $r_tab) {
				display: none;
			}
			
		}
		&__cover {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 322px;
			text-align: center;
			@media (max-width: $r_desk_1280) {
				height: 150px;
			}
			@media (max-width: $r_mob_500) {
				height: 120px;
			}
			@media (max-width: $r_mob_400) {
				height: 90px;
			}
		}
		&__image {
			width: 100%;
			max-width: 351px;
			height: 100%;
			-o-object-fit: scale-down;
			   object-fit: scale-down;
		}
		&__description {
			@media (max-width: $r_mob_400) {
				max-width: 139px;
    			margin: 0 auto;
			}
		}
		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: $r_tab) {
				justify-content: center;
			}
		}
		&__price {
			font-size: 2.4rem;
			margin-bottom: 3.4rem;
			@media (max-width: $r_desk_1280) {
				font-size: 2rem;
				margin-top: 0px;
				margin-bottom: 2.4rem;
			}
			@media (max-width: $r_mob_500) {
				font-size: 1.8rem;
				margin-bottom: 1.4rem;
			}
			@media (max-width: $r_mob_400) {
				font-size: 1.4rem;
				margin-bottom: 1.8rem;
			}
		}
	}
	&-link {
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		color: $green;
		letter-spacing: 0.1rem;
		width: 16.2rem;
		opacity: .8;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		transition: 0.3s;
		@media (max-width: $r_tab) {
			font-size: 1.4rem;
			width: auto;
			gap: 9px;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1rem;
			letter-spacing: 0.02rem;
		}
		&::before {
			content: '';
			background-image: url("../images/plus.svg");
			background-size: cover;
    		background-repeat: no-repeat;
			display: block;
			width: 3rem;
			height: 3rem;
			@media (max-width: $r_tab) {
				width: 2.6rem;
				height: 2.6rem;
			}
			@media (max-width: $r_mob_400) {
				width: 2rem;
				height: 2rem;
			}
		}
		&:hover {
			opacity: 1;
		}
	}
	&-pagination {
		display: none;
		@media (max-width: $r_tab) {
			display: block;
		}
	}
	&-button-next, &-button-prev {
		top: -59px;
		opacity: .4;
		transition: 0.3s;
		@media (max-width: $r_tab) {
			display: none;
		}
		&::after {
			color: $green;
			font-size: 20px;
		}
		&:hover {
			opacity: 1;
		}
	}
	&-button-prev {
		left: initial;
		right: 7rem;
	}
	&-button-next {
		right: -1.2rem;
    	left: auto;
	}
}

.swiper-horizontal > .swiper-pagination-bullets {
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -50px;
	@media (max-width: $r_mob_400) {
		bottom: -40px;
	}
}

.swiper-pagination-bullet-active {
	background: $orange;
	border: 1px solid $orange;
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
}

.counter {
	display: flex;
	@media (max-width: $r_tab) {
		display: none;
	}
	&__btn {
		cursor: pointer;
		width: 5rem;
		height: 5rem;
		border: 1px solid $green;
		border-radius: 100%;
		background-color: transparent;
		padding: 0px;
		background-position: center center;
		@media (max-width: $r_desk_full) {
			width: 4.5rem;
			height: 4.5rem;
		}
		@media (max-width: $r_desk_1120) {
			width: 3.5rem;
			height: 3.5rem;
		}
		&_min {
			width: 4rem;
			height: 4rem;
		}
	}
	&__minus {
		pointer-events: none;
		background-image: url(../images/catalog/minus-counter.svg);
		background-size: 20px 11px;
		background-repeat: no-repeat;
		opacity: 0.4;
	}
	&__plus {
		background-image: url(../images/catalog/plus-counter.svg);
		background-size: 20px 11px;
		background-repeat: no-repeat;
	}
	&__input {
		text-align: center;
		font-size: 2.4rem;
		width: 46px;
		border: none;
		padding: 0px;
		@media (max-width: $r_desk_1120) {
			font-size: 2rem;
			width: 35px;
		}
		&_min {
			width: 33px;
		}
	}
}

.about__text > .description {
	@media (max-width: $r_mob_360) {
		max-width: 100%;
    	margin: 0 auto;
	}
}

.about {
	padding: 3.7rem 0rem 12.8rem 0rem;
	@media (max-width: $r_desk) {
		padding: 3.7rem 0rem 6rem 0rem;
	}
	@media (max-width: $r_mob_360) {
		padding: 1.4rem 0rem 2rem 0rem;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 3rem;
		@media (max-width: $r_tab) {
			flex-direction: column;
		}
		@media (max-width: $r_mob_360) {
			margin-top: 0rem;
		}
	}
	&__text {
		flex-basis: 615px;
		margin-left: 12rem;
		@media (max-width: $r_desk_1280) {
			margin-left: 8rem;
		}
		@media (max-width: $r_desk_1120) {
			flex-basis: 450px;
		}
		@media (max-width: $r_tab_900) {
			flex-basis: 315px;
			margin-left: 4rem;
		}
		@media (max-width: $r_tab_800) {
			flex-basis: 281px;
		}
		@media (max-width: $r_tab) {
			max-width: 100%;
			margin-left: 0px;
			margin-top: 3rem;
			flex-basis: 0px;
		}
	}
	&__list {
		display: flex;
		font-family: $font-cormorant;
		font-style: italic;
		font-weight: 700;
		font-size: 3rem;
		list-style-type: none;
		margin-top: 3.6rem;
		padding-left: 0px;
		gap: 8.4rem;
		@media (max-width: $r_desk_1280) {
			gap: 4rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 2rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1.4rem;
		}
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&__circle {
			position: absolute;
			width: 86px;
			height: 86px;
			top: 0;
			@media (max-width: $r_mob_500) {
				width: 62px;
				height: 62px;
			}
			&_span {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
		&::before {
			content: '';
			width: 84px;
			height: 84px;
			border: 1px solid rgba($green, 0.4);
			border-radius: 100%;
			margin-bottom: 1.5rem;
			@media (max-width: $r_mob_500) {
				width: 60px;
				height: 60px;
			}
			@media (max-width: $r_mob_360) {
				margin-bottom: 1rem;
			}
		}
		&:nth-child(1){
			&::after {
				content: '';
				position: absolute;
				width: 84px;
				height: 84px;
				top: 0px;
				background-position: center center;
				background-repeat: no-repeat;
				background-image: url("../images/fruits.svg");
				background-size: 44px 41px;
				@media (max-width: $r_mob_500) {
					width: 60px;
					height: 60px;
					background-size: 34px 31px;
				}
			}
			&:hover {
				&::after {
				-webkit-animation: spin 0.5s ease-out;
				        animation: spin 0.5s ease-out;
				}
			}
		}
		&:nth-child(2){
			&::after {
				content: '';
				position: absolute;
				width: 84px;
				height: 84px;
				top: 0px;
				background-position: center center;
				background-repeat: no-repeat;
				background-image: url("../images/traditional.svg");
				background-size: 40px 40px;
				@media (max-width: $r_mob_500) {
					width: 60px;
					height: 60px;
					background-size: 28px 28px;
				}
			}
			&:hover {
				&::after {
				-webkit-animation: spin 0.5s ease-out;
				        animation: spin 0.5s ease-out;
				}
			}
		}
		&:nth-child(3){
			&::after {
				content: '';
				position: absolute;
				width: 84px;
				height: 84px;
				top: 0px;
				background-position: center center;
				background-repeat: no-repeat;
				background-image: url("../images/good.svg");
				background-size: 45px 39px;
				@media (max-width: $r_mob_500) {
					width: 60px;
					height: 60px;
					background-size: 32px 32px;
				}
			}
			&:hover {
				&::after {
				-webkit-animation: spin 0.5s ease-out;
				        animation: spin 0.5s ease-out;
				}
			}
		}
	}
}

.trends {
	padding: 3.6rem 0rem 13.5rem 0rem;
	@media (max-width: $r_desk) {
		padding: 3.6rem 0rem 10rem 0rem;
	}
	@media (max-width: $r_tab) {
		padding: 3.6rem 0rem 5rem 0rem;
	}
	@media (max-width: $r_mob_500) {
		    padding: 3.6rem 0rem 3rem 0rem;
	}
	@media (max-width: $r_mob_360) {
		padding: 2.3rem 0rem 1rem 0rem;
	}	
	&__text {
		padding-top: 3.7rem;
		@media (max-width: $r_mob_360) {
			padding-top: 2rem;
		}
	}
}

.catalog {
	padding: 5.5rem 0rem 12.5rem 0rem;
	@media (max-width: $r_desk) {
			padding: 5.5rem 0rem 10rem 0rem;
		}
	@media (max-width: $r_mob_500) {
		padding: 5.5rem 0rem 6rem 0rem;
	}
	@media (max-width: $r_mob_360) {
		padding: 2.6rem 0rem 3.5rem 0rem;
	}	
	&__text {
		padding-top: 3.8rem;
		letter-spacing: 0.1rem;
		@media (max-width: $r_desk_1120) {
			padding-top: 2.5rem;
		}
		@media (max-width: $r_mob_360) {
			padding-top: 2rem;
			letter-spacing: 0.05rem;
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		cursor: pointer;
		border: none;
		text-transform: uppercase;
		background-color: transparent;
		color: $green;
		opacity: 0.8;
		font-size: 1.6rem;
		font-weight: 500;
    	letter-spacing: .2rem;
		gap: 1.5rem;
		transition: 0.3s;
		@media (max-width: $r_mob_500) {
			font-size: 1.4rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1rem;
			letter-spacing: 0.05rem;
			gap: 1rem;
		}
		&::before {
			content: '';
			display: block;
			width: 2.7rem;
			height: 2.7rem;
			background-image: url(../images/refresh.svg);
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0.8;
			transition: 0.3s;
			@media (max-width: $r_mob_500) {
				width: 2rem;
				height: 2rem;
			}
		}
		&:hover {
			opacity: 1;
		}
		&:hover {
			&::before {
				transform: rotate(-360deg);
			}
		}
	}
}

.category {
	max-width: 1440px;
    margin: 0px auto;
	margin-top: 8.7rem;
	padding-left: 15px;
	@media (max-width: $r_desk_1120) {
		margin-top: 4.4rem;
	}
	@media (max-width: $r_mob_360) {
		margin-top: 4rem;
	}
	&__list {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0px;
		margin-top: 9.1rem;
		list-style-type: none;
		gap: 2rem;
		padding: 0px;
		@media (max-width: $r_desk_1120) {
			// flex-wrap: wrap;
			// justify-content: center;
			justify-content: flex-start;
			overflow-x: hidden;
			gap: 1rem;
		}
		// @media (max-width: $r_desk) {
		// 	justify-content: center;
		// }
		@media (max-width: $r_tab) {
			// flex-wrap: nowrap;
			// justify-content: flex-start;
			// overflow-x: hidden;
			margin-top: 6rem;
		}
		@media (max-width: $r_mob_360) {
			margin-top: 4rem;
		}
	}
	&__item {
		padding: 0;
		&:last-child {
			padding-right: 15px;
		}
		&_btn {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid $green;
			border-radius: 3.5rem;
			width: 23rem;
			height: 7rem;
			text-decoration: none;
			color: $green;
			opacity: .5;
			transition: .3s;
			@media (max-width: $r_desk_wxga_xxl) {
				width: 20rem;
				height: 6rem;
			}
			@media (max-width: $r_mob_500) {
				font-size: 1.4rem;
			}
			@media (max-width: $r_mob_360) {
				font-size: 1rem;
				width: 11rem;
    			height: 4rem;
			}
			&:hover {
				color: $orange;
				border: 1px solid $orange;
				opacity: 1;
			}
		}
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	gap: 3rem;
	margin-top: 4.7rem;
	margin-bottom: 6rem;
	@media (max-width: $r_desk_1120) {
		margin-top: 2rem;
		gap: 2rem;
	}
	@media (max-width: $r_tab) {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
	@media (max-width: $r_mob_500) {
		margin-bottom: 4rem;
	}
	&__item {
		display: flex;
		flex-direction: column;
    	justify-content: flex-end;
		border: 1px solid rgba($green, 0.4);
		border-radius: 2rem;
		box-sizing: border-box;
		padding: 3rem 2rem 3rem 3rem;
		height: 51rem;
		transition: 0.3s;
		&:hover {
			box-shadow: 0 0 0 2px #a9ac9f inset;
		}
		@media (max-width: $r_tab) {
			padding: 2.2rem 2rem 2.8rem;
			height: 45rem;
		}
		@media (max-width: $r_mob_500) {
			text-align: center;
			height: 37rem;
		}
		@media (max-width: $r_mob_400) {
			height: 23.9rem;
			padding: 1rem 1rem 1.5rem;
			&:nth-child(n + 5) {
				display: none;
			}
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
    	align-items: center;
	}
	&__cover {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		text-align: center;
		&_img {
			width: 100%;
			height: 19.9rem;
			max-width: 22.8rem;
			-o-object-fit: contain;
			   object-fit: contain;
			@media (max-width: $r_tab) {
				max-width: 16rem;
				height: 19rem;
			}
			@media (max-width: $r_mob_500) {
			   height: 10rem;
			}
			@media (max-width: $r_mob_400) {
			   height: 6.3rem;
			}
		}
	}
	&__title {
		font-size: 3rem;
		font-family: $font-cormorant;
		margin: 0px;
		@media (max-width: $r_tab) {
			font-size: 2rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 1.4rem;
		}
	}
	&__price {
		font-size: 2.4rem;
		margin-top: 0.3rem;
    	margin-bottom: 3rem;
		@media (max-width: $r_tab) {
			font-size: 2rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 1.6rem;
		}
		@media (max-width: $r_mob_400) {
			font-size: 1.2rem;
			margin-bottom: 1.2rem;
		}
	}
}

.delivery {
	padding-top: 2rem;
	padding-bottom: 12.8rem;
	@media (max-width: $r_desk) {
		padding-bottom: 8rem;
	}
	@media (max-width: $r_tab) {
		padding-bottom: 4rem;
	}
	@media (max-width: $r_mob_500) {
		padding-bottom: 3rem;
	}
	@media (max-width: $r_mob_360) {
		padding-bottom: 1rem;
	}
	&__box {
		display: flex;
		margin-top: 7rem;
		margin-left: 12rem;
		gap: 11.3%;
		@media (max-width: $r_desk) {
			margin-top: 4rem;
		}
		@media (max-width: $r_tab_900) {
			margin-left: 0rem;
		}
		@media (max-width: $r_tab) {
			flex-direction: column;
		}
		@media (max-width: $r_mob_360) {
			margin-top: 3.5rem;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2.6rem;
		flex-basis: 44.3%;
		@media (max-width: $r_tab) {
			align-items: center;
		}
		@media (max-width: $r_mob_360) {
			gap: 1.8rem;
		}
		&_color {
			color: $orange;
		}
	}
	&__description {
		@media (max-width: $r_mob_360) {
			max-width: 281px;
		}
	}
	&__payment {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		flex-basis: 37%;
		@media (max-width: $r_tab) {
			align-items: center;
			margin-top: 4rem;
			gap: 4rem;
		}
		@media (max-width: $r_mob_360) {
			margin-top: 3.5rem;
			gap: 1.8rem;
		}
		
		&__box {
			&_methods {
				list-style-type: none;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding: 0;
				margin: 0;
				gap: 3rem;
				@media (max-width: $r_mob_360) {
					gap: 2.2rem;
				}
				&_item {
					background-repeat: no-repeat;
    				background-size: cover;
					background-position: center center;
					cursor: pointer;
					opacity: 0.4;
					transform: scale(1);
					transition: 0.3s;
					&:hover {
						opacity: 1;
						transform: scale(1.1);
					}
				}
				&_mastercard {
					background-image: url(../images/mastercard.svg);
					width: 5.5rem;
    				height: 3.5rem;
					@media (max-width: $r_mob_360) {
						width: 3.8rem;
    					height: 2.3rem;
					}
				}
				&_visa {
					background-image: url(../images/visa.svg);
					width: 7.5rem;
					height: 2.5rem;
					@media (max-width: $r_mob_360) {
						width: 5.3rem;
    					height: 1.7rem;
					}
				}
				&_paypal {
					background-image: url(../images/paypal.svg);
					width: 8.7rem;
    				height: 2.4rem;
					@media (max-width: $r_mob_360) {
						width: 6.3rem;
    					height: 1.7rem;
					}
				}
			}
		}
	}
}

address {
	font-style: normal;
	margin-top: 6.1rem;
	max-width: 28rem;
	@media (max-width: $r_tab) {
		margin-top: 3.1rem;
		max-width: 100%;
	}
	@media (max-width: $r_mob_360) {
		margin-top: 1.8rem;
	}
}

.contact {
	margin-bottom: 13.4rem;
	@media (max-width: $r_desk) {
			margin-bottom: 10rem;
		} 
	@media (max-width: $r_tab) {
		margin-bottom: 6rem;
	}
	&__description {
		@media (max-width: $r_mob_360) {
			max-width: 254px;
		}
	}	
	&-box {
		display: flex;
		justify-content: space-between;
		@media (max-width: $r_tab) {
			flex-direction: column;
			align-items: center;
    		justify-content: center;
			gap: 4rem;
		}
		@media (max-width: $r_mob_360) {
			gap: 2.2rem;
		}
		&__item {
			margin-top: 3rem;
		}
		&__text {
			max-width: 400px;
			flex-grow: 1;
			margin-top: 5.9rem;
			margin-left: 12rem;
			@media (max-width:$r_desk_1120) {
				margin-left: 6rem;
			}
			@media (max-width: $r_desk) {
				margin-left: 4rem;
				margin-right: 4rem;
			}
			@media (max-width: $r_mob_500) {
				margin-left: 0rem;
				margin-right: 0rem;
			}
			@media (max-width: $r_mob_360) {
				margin-top: 2.9rem;
			}
		}
		&__address {
				list-style-type: none;
				padding: 0px;
				@media (max-width: $r_tab) {
					display: flex;
					justify-content: space-between;
				}
				@media (max-width: $r_mob_360) {
					gap: 2.5rem;
				}
				@media (max-width: $r_minmob) {
					gap: 1.5rem;
				}
				&_link {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					text-decoration: none;
					font-weight: 500;
					color: $green;
					gap: 3.1rem;
					transition: 0.3s;
					&:hover {
						color: $orange;
					}
					@media (max-width: $r_tab) {
						gap: 1.1rem;
					}
					@media (max-width: $r_mob_500) {
						gap: 0.5rem;
					}
					@media (max-width: $r_mob_360) {
						gap: 0rem;
					}
				}
				&_item {
					margin-bottom: 2rem;
				}
				&_tel::before {
					content: '';
    				display: block;
					background-image: url(../images/phone_img.svg);
					background-repeat: no-repeat;
					background-size: contain;
					width: 3rem;
					height: 2.7rem;
					@media (max-width: $r_mob_500) {
						width: 2.4rem;
    					height: 2.2rem;
					}
					@media (max-width: $r_mob_360) {
						width: 1.6rem;
    					height: 1.8rem;
					}
				}
				&_tel {
					&:hover {
						&::before {
							-webkit-animation: phone 0.3s ease-in;
							        animation: phone 0.3s ease-in;
						}
					}
				}
				&_mail::before {
					content: '';
    				display: block;
					background-image: url(../images/mail_img.svg);
					background-repeat: no-repeat;
					background-size: contain;
					width: 3rem;
    				height: 2.7rem;
					@media (max-width: $r_mob_500) {
						width: 2.6rem;
    					height: 2rem;
					}
					@media (max-width: $r_mob_360) {
						width: 2.2rem;
    					height: 1.9rem;
					}
				}
			}
		&__form {
			flex-basis: 589px;
			@media (max-width: $r_tab) {
				flex-basis: 100%;
			}
		}
	}
}

.card {
	border: 2px solid rgba($green, 0.4);
	border-radius: 2rem;
	padding: 3.4rem 5.8rem 4rem;
	@media (max-width: $r_tab) {
		text-align: center;
	}
	@media (max-width: $r_mob_500) {
		padding: 2rem 1.4rem 3rem;
	}
	&__title {
		font-family: $font-cormorant;
		font-size: 3rem;
		margin-top: 0px;
		@media (max-width: $r_mob_360) {
			font-size: 2.2rem;
		}
	}
	&__label {
		display: block;
		font-size: 1.2rem;
		margin-left: 0.6rem;
		margin-bottom: 0.8rem;
		@media (max-width: $r_tab) {
			text-align: left;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1rem;
			margin-left: 0rem;
			margin-bottom: 0.6rem;
		}
	}
	&__input {
		display: block;
		box-sizing: border-box;
		width: 100%;
		border: 1px solid rgba($green, 0.4);
		border-radius: 2rem;
		padding: 2.2rem 3rem;
		margin-bottom: 3rem;
		transition: 0.3s;
		@media (max-width: $r_tab_900) {
			padding: 1.6rem 3rem;
		}
		@media (max-width: $r_mob_360) {
			padding: 1.3rem 1.4rem;
			margin-bottom: 1.2rem;
		}
		&:focus {
			border: 1px solid rgba($green, 1);
			outline: none;
		}
		&:invalid {
			border: red;
		}
		&::-webkit-input-placeholder {
			@media (max-width: $r_mob_360) {
				font-size: 1.2rem;
			}
		}
		&::-moz-placeholder {
			@media (max-width: $r_mob_360) {
				font-size: 1.2rem;
			}
		}
		&:-ms-input-placeholder {
			@media (max-width: $r_mob_360) {
				font-size: 1.2rem;
			}
		}
		&::-ms-input-placeholder {
			@media (max-width: $r_mob_360) {
				font-size: 1.2rem;
			}
		}
		&::placeholder {
			color: $green;
			opacity: 0.4;
			@media (max-width: $r_mob_360) {
				font-size: 1.2rem;
			}
		}
	}
	&__check {
		max-width: 360px;
		font-size: 1.2rem;
		color: rgba($green, 0.6);
		line-height: 1.5;
		margin-bottom: 0px;
		@media (max-width: $r_mob_360) {
			font-size: 1rem;
			margin: 1.4rem 2rem 0rem;
		}
	}
	&__link {
		margin-top: 1rem;
		padding: 1.8rem 3rem;
		@media (max-width: $r_mob_360) {
			margin-top: 1.8rem;
			padding: 1.6rem 2.7rem;
		}
	}
	&__docs {
		color: rgba($green, 0.6);
		text-decoration: none;
		border-bottom: 1px solid #ecedec;
		transition: 0.3s;
		&:hover {
			color: rgba($dark-orange, 0.6);
			border-bottom: 1px solid rgba($dark-orange, 0.6);
		}
	}
}

footer {
	border-top: 1px solid #d4d6cf;
	padding-top: 8.6rem;
	padding-bottom: 8.4rem;
	@media (max-width: $r_desk_1120) {
		padding-top: 4rem;
    	padding-bottom: 3.6rem;
	}
}

.footer__box .logo {
	width: 17.9rem;
    height: 4.8rem;
	margin-top: 0.5rem;
	flex-basis: 18rem;
	@media (max-width: $r_tab_900) {
		flex-basis: 15rem;
	}
	@media (max-width: $r_tab) {
		flex-basis: 10rem;
	}
	@media (max-width: $r_mob_360) {
		width: 12rem;
		margin-top: 0rem;
		flex-basis: auto;
	}
}

.footer__info > .footer__list {
	@media (max-width: $r_tab_900) {
		font-size: 1.4rem;
	}
}

.footer {
	padding-top: 7.3rem;
	@media (max-width: $r_mob_500) {
		padding-top: 3rem;
	}
	@media (max-width: $r_mob_360) {
		padding-top: 1.4rem;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		margin-top: 2.3rem;
		margin-bottom: 6rem;
		@media (max-width: $r_tab) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 3rem;
		}
		@media (max-width: $r_mob_360) {
			margin-top: 0rem;
		} 
	}
	&__info {
		display: flex;
		justify-content: space-between;
		flex-basis: 66.2%;
		@media (max-width: $r_desk) {
			flex-basis: 75%;
		}
		@media (max-width: $r_tab_900) {
			flex-basis: 75%;
		}
		@media (max-width: $r_tab) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
	&__text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: rgba($green, 0.6);
		@media (max-width: $r_tab) {
			flex-direction: column;
			gap: 0.8rem;
		}
		@media (max-width: $r_mob_500) {
			font-size: 1rem;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		@media (max-width: $r_tab) {
			&:first-child {
				flex-direction: row;
				gap: 5rem;
				margin-bottom: 2.8rem;
				@media (max-width: $r_mob_500) {
					gap: 4rem;
				}
				@media (max-width: $r_mob_360) {
					gap: 3rem;
					margin-top: 1.2rem;
					margin-bottom: 2.6rem;
				}
			}
			gap: 1.4rem;
			margin-bottom: 4rem;
		}
		@media (max-width: $r_mob_360) {
			gap: 1.2rem;
			margin-bottom: 3rem;
		}
	}
	&__link {
		text-decoration: none;
		color: $green;
		font-size: 1.8rem;
		transition: 0.3s;
		@media (max-width: $r_tab_900) {
			font-size: 1.5rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 1.2rem;
		}
		&:hover {
			color: $orange;
		}
	}
	&__contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		@media (max-width: $r_tab) {
			gap: 1.4rem;
		}
		@media (max-width: $r_mob_360) {
			gap: 0.8rem;
		}
	}
	&__tel {
		font-size: 2.7rem;
		@media (max-width: $r_tab_900) {
			font-size: 2rem;
		}
		@media (max-width: $r_mob_360) {
			font-size: 3rem;
		}
	}
	&-social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px;
		padding: 0px;
		gap: 3rem;
		list-style-type: none;
		@media (max-width: $r_tab) {
			margin-top: 2.6rem;
		}
		@media (max-width: $r_mob_360) {
			margin-top: 3rem;
		}
		&__item {
			position: relative;
			border-radius: 100%;
			&::before {
				position: absolute;
				content: '';
				cursor: pointer;
				width: 4.6rem;
				height: 4.6rem;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-position: center center;
				background-repeat: no-repeat;
				border: none;
				border-radius: 100%;
				opacity: 0.8;
				transition: 0.2s;
			}
			&:nth-child(1){
				&::before {
					background-image: url("../images/vk.svg");
					background-size: 2.3rem;
				}
				&:hover {
					&::before {
						-webkit-animation: spinner 0.5s ease-out;
				        	animation: spinner 0.5s ease-out;
							opacity: 1;
					}
				}
			}
			&:nth-child(2){
				&::before {
					background-image: url("../images/inst.svg");
					background-size: 1.8rem;
				}
				&:hover {
					&::before {
						-webkit-animation: spinner 0.5s ease-out;
				        	animation: spinner 0.5s ease-out;
							opacity: 1;
					}
				}
			}
			&:nth-child(3){
				&::before {
					background-image: url("../images/fb.svg");
					background-size: 1.8rem;
				}
				&:hover {
					&::before {
						-webkit-animation: spinner 0.5s ease-out;
				        	animation: spinner 0.5s ease-out;
							opacity: 1;
					}
				}
			}
		}
		&__link {
			display: block;
			width: 4.6rem;
			height: 4.6rem;
			border: 2px solid $green;
			border-radius: 100%;
			opacity: 0.8;
			transition: 0.3s;
			&:hover {
				opacity: 1;
			}
			&:hover::before {
				content: '';
				position: absolute;
				border: 1px solid $green;
				border-radius: 50%;
				left: -10px;
				right: -10px;
				top: -10px;
				bottom: -10px;
				opacity: 0;
				-webkit-animation: pulse 1.8s linear infinite;
				        animation: pulse 1.8s linear infinite;
			}
			&:hover::after {
				content: '';
				position: absolute;
				border: 1px solid $green;
				border-radius: 50%;
				left: -10px;
				right: -10px;
				top: -10px;
				bottom: -10px;
				opacity: 0;
				-webkit-animation: pulse 1.8s linear 0.5s infinite;
				        animation: pulse 1.8s linear 0.5s infinite;	
			}
		}
	}
	&__copy {
		margin: 0px;
	}
	&__author {
		margin: 0px;
		&_link {
			text-decoration: none;
			color: rgba($green, 0.6);
			transition: 0.3s;
			&:hover {
				color: rgba($green, 1);
			}
		}
	}
}

@-webkit-keyframes shadow {
	0% {
		box-shadow: 0 0 0 0 rgba($green, 0.5);
	}
	50% {
		box-shadow: 30px 55px 60px -60px rgba($green, 0.8);
	}
	100% {
		box-shadow: 0 0 0 0 rgba($green, 0.5);
	}
}
@keyframes shadow {
	0% {
		box-shadow: 0 0 0 0 rgba($green, 0.5);
	}
	50% {
		box-shadow: 30px 55px 60px -60px rgba($green, 0.8);
	}
	100% {
		box-shadow: 0 0 0 0 rgba($green, 0.5);
	}
}

@-webkit-keyframes spinner {
	0% {
		transform: translate(-50%, -50%) rotateY(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotateY(-720deg);
	}
}
@keyframes spinner {
	0% {
		transform: translate(-50%, -50%) rotateY(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotateY(-720deg);
	}
}

@-webkit-keyframes spin {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-720deg);
	}
}
@keyframes spin {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-720deg);
	}
}

@-webkit-keyframes pulse {
	0% {
		transform: scale(0.6);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.1);
		opacity: 0;
	}
}
@keyframes pulse {
	0% {
		transform: scale(0.6);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.1);
		opacity: 0;
	}
}

@-webkit-keyframes phone {
	0%, 100% {
		transform: rotate(0deg);
	}
	15%, 45%, 75%, 70% {
		transform: rotate(20deg);
	}
	30%, 60%, 90% {
		transform: rotate(-20deg);
	}
}
@keyframes phone {
	0%, 100% {
		transform: rotate(0deg);
	}
	15%, 45%, 75%, 70% {
		transform: rotate(20deg);
	}
	30%, 60%, 90% {
		transform: rotate(-20deg);
	}
}